<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.MobileSafe"
          android:versionCode="1"
          android:versionName="1.0">

	<uses-sdk android:minSdkVersion="18"/>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
	<uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
	<uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
	<application
			android:label="@string/app_name"
			android:icon="@drawable/ic_launcher">
		<activity
				android:name="Splash"
				android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity android:name=".HomeActivity"></activity>
		<activity android:name=".SettingActivity"></activity>
		<activity android:name=".LostFindActivity"></activity>
		<activity android:name=".Step1Activity"></activity>
		<activity android:name=".Step2Activity"></activity>
		<activity android:name=".Step3Activity"></activity>
		<activity android:name=".Step4Activity"></activity>
		<activity android:name=".SelectContantActivity"></activity>
		<receiver android:name="com.example.receiver.BootCompleteReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"></action>
			</intent-filter>
		</receiver>
		<receiver android:name="com.example.receiver.SMSReveiver">
			<intent-filter>
				<action android:name="android.provider.Telephony.SMS_RECEIVED"></action>
			</intent-filter>
		</receiver>
	</application>

</manifest>
